---
layout: archive
classes: wide
---

{{ content }}

<h2></h2>
<!-- <p style="font-size:0.9em;"> -->
<p style="text-align:center;">
<img src="/assets/images/MLi_Profile.png" alt="profile_photo" style="width:300px;height:300px;">
</p>
<p>
  I am a postdoctoral researcher in the <a href="https://publicpolicy.cornell.edu/">Jeb E. Brooks School of Public Policy at Cornell University</a>. 
 My research centers on how macro-level conditions, such as occupational sex segregation in the U.S., marketization in China, and family policies in OECD countries, affect individual-level labor market outcomes. 
 My dissertation, “A Tale of Two Labor Markets—How Gender Wage Inequalities Associated with Occupational Sex Segregation Vary in High- and Low-Skilled Occupations, United States 1960–2019,” re-examines sex segregation through historical and structural changes, including women’s increasing commitment to the labor market, the rise in women’s higher educational attainment, and the economic polarization. In another publication, I study how marketization has affected gender wage inequality in China. In one collaborative study, we studied how neighborhood inequality has perpetuated unequal access to COVID vaccination. I have also co-authored several publications exploring how work-family reconciliation policies have affected on gender inequality for women by social class. 
</p>

<p>
  I received my Ph.D. in <a href="https://dornsife.usc.edu/soci/">Sociology from University of Southern California</a>, M.A. from <a href="https://steinhardt.nyu.edu/departments/media-culture-and-communication">Media, Culture, and, Communication at New York University</a> and BA from Chinese Literature and Culture at <a href="http://www.blcu.edu.cn/"> Beijing Language and Culture University</a>.
</p>

<!-- <h3>News</h3> -->


<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}", style="font-size:1em;">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
