---
layout: archive
classes: wide
---

{{ content }}

<h2></h2>
<!-- <p style="font-size:0.9em;"> -->
<p style="text-align:center;">
<img src="/assets/images/MLi_Profile.png" alt="profile_photo" style="width:300px;height:300px;">
</p>

<p>
  I am a postdoctoral researcher in the <a href="https://publicpolicy.cornell.edu/">Jeb E. Brooks School of Public Policy at Cornell University</a>. 
  <p>
  I am currently seeking opportunities to apply my 8+ years of experience in human behavior research, policy evaluation, and quantitative analyses to roles such as Data Scientist, UX Researcher, or Human Factors Researcher. See a case study using an A/B test to examine how balanced message framing improves user engagement on digital platforms <a href="/assets/images/Survey_ML.pdf">here</a>.
 <p>
 My previous research centers on how macro-level structures, such as occupational sex segregation in the U.S., marketization in China, family policies in OECD countries, and safety net programs in the U.S., shape individual-level health, family, and labor market outcomes.
</p>
<!-- 

</p>
My dissertation, A Tale of Two Labor Markets, examines how gender wage gap associated with occupational sex segregation varies across high- and low-skilled occupations in the U.S. from 1960 to 2019. I reframe persistent gender disparities in the context of historical and structural shifts, including women’s rising educational attainment, increased labor market attachment, and growing economic polarization.
</p>

</p>
Beyond U.S. labor market dynamics, I study how market reforms have shaped gender inequality in China, and I collaborate on cross-national research into how family policies affect women's employment outcomes and family income. I have also contributed to work on neighborhood-level disparities in COVID-19 vaccination access.
</p>
 -->

</p>
Across projects, I use mixed methods and advanced quantitative tools, including causal inference, sequence analysis, and machine learning, to uncover how social, economic, and policy conditions shape people's life decisions.
</p>


<p>
I received my Ph.D. from <a href="https://dornsife.usc.edu/soci/">Sociology at University of Southern California</a>, M.A. from <a href="https://steinhardt.nyu.edu/departments/media-culture-and-communication">Media, Culture, and, Communication at New York University</a> and B.A. from <a href="http://www.blcu.edu.cn/">Chinese Literature and Culture at Beijing Language and Culture University</a>.
</p>

<!-- <h3>News</h3> -->


<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}", style="font-size:1em;">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
